body {
	background-color: #92e5d3;
	font-family: arial;
}

.begin {
	background-color: white;
	width: 300px;
	padding: 10px;
	border-radius: 5px;
}

.message {
	font-weight: bold;
	margin: 10px 0px 25px 75px;
}

.guessbox {
	display: inline-block;
	background-color: white;
	padding: 20px;
	margin: 10px;
	border-radius: 5px;
}

div.guessbox {
	float: left;
	margin-top: 150px;
	width: 300px;
}

#hidden-word {
	font-weight: bold;
	text-align: center; 
	padding-bottom: 5px;
}

#game-box {
	margin-left: 100px
}